{% extends "base.html" %}
{% block page_content %}
<div class="page-header"><div class="col-md-4">
    <h1>注册</h1>
    <form method="post" >
      <div class="group-inputs" >
          <div class="account input-wrapper form-group">
             <label><strong>邮箱</strong></label>
                <p >{{ form.email }}{{ form.errors.email.0 }}</p></div>
            <div class="account input-wrapper form-group">
             <label><strong>用户</strong></label>
                <p >{{ form.username }}{{ form.errors.username.0 }}</p></div>
                    <div class="verification input-wrapper form-group">
                        <label><strong>密码</strong></label>
                        {{ form.password }}{{ form.errors.password.0 }}</div>
          <div class="verification input-wrapper form-group">
                        <label><strong>确认密码</strong></label>
                        {{ form.commpassword }}{{ form.errors.commpassword.0 }}</div>
            <div class="Captcha input-wrapper" data-type="cn" data-za-module="Captcha">
            <div class="Captcha-operate">
                <span class="Captcha-refresh js-refreshCaptcha sprite-index-icon-refresh"></span></div></div></div>
                    <input type="submit" value="注册" class="btn btn-default">
    </form>
</div>
<h5><strong style="color: red">{{ msg }}</strong></h5>
</div>
{% endblock %}